 
    @font-face {
        font-family: 'T-Star-Light';
        src: url('/font/T-Star-Light.eot?') format('eot'), url('/font/T-Star-Light.woff') format('woff'),url('/font/T-Star-Light.woff2') format('woff2');
    }

        @font-face {
        font-family: 'T-Star-Bold';
        src: url('/font/T-Star-Bold.eot?') format('eot'), url('/font/T-Star-Bold.woff') format('woff'),url('/font/T-Star-Bold.woff2') format('woff2');
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'T-Star-Light', Arial, sans-serif;
    }

     a {
    color: black;
    text-decoration: none;
}

.websites {
    text-decoration: underline;
}
    
    h1 {
        /*font-size: px;*/
         font-family: 'T-Star-Bold',Arial, sans-serif;
        font-weight: bold;
        font-size: 32px;
    }
    
    h2 {
        /*font-size: px;*/
         font-family: 'T-Star-Bold',Arial, sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    
    p {
        margin-top: 5px;
        line-height: 21px;
    }



    #social {
        margin-top: 10px;
      /*  border: 1px solid black;*/
    }

    #dank, #dank p{
        margin-top: 40px;
        margin-bottom: 20px;
        font-family: 'T-Star-Light', Arial, sans-serif;
        font-size: 11px;
        line-height: 14px;
       /* border: 1px solid green;*/
    }
    
    
    #bg_container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
         z-index: -1;
        /* width: 2000px;*/
    }

      #bg_container img {
        max-width: 1280px;
    }
    
    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 1;
        z-index: -1;
    }
    
    #active_bg {}
    
    .entry {
        display: inline-block;
        vertical-align: top;
    }

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#logos {
   /* border: 1px solid black;*/

}

    
    @media (min-width: 600px) {
        #main {
            /* width: 2000px;
        height: 2000px;*/
            padding-left: 100px;
            padding-top: 100px;
        }
        #content {
            width: 80%;
            min-width: 650px;
            max-width: 800px;
        }
        #description {
            padding: 20px;
            width: 70%;
            min-width: 440px;
            background-color: white;
        }
        #numbering {
            font-family: 'T-Star-Bold',Arial, sans-serif;
            width: 20%;
            font-size: 130px;
            font-weight: bold;
            color: black;
        }
        .logo {
        margin-right: 5%;
 vertical-align: top;
        }
    }
    
    @media (max-width: 600px) {
        #main {
            margin: 0;
            padding: 0;
            padding-top: 100px;
            padding-left: 20px;
            padding-right: 20px;
        }
        #content {
            /*  min-width: 500px;*/
        }
        #description {
            padding: 10px;
            /* left: 10px;
        top: 10px;*/
            background-color: white;
        }
        #numbering {
            font-family: 'T-Star-Bold',Arial, sans-serif;
            width: 20%;
            font-size: 36px;
            font-weight: bold;
            color: black;
            padding-left: 10px;
            display: none;
        }
        .logo {
            margin-right: 20px;
             vertical-align: top;
             zoom: 60%;
        }
    }